# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [21]:
%config IPCompleter.greedy=True

In [8]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [17]:
series_obj = Series(np.arange(0,8), index = ['10','11','12','13','14','15','16','17'])
series_obj

10    0
11    1
12    2
13    3
14    4
15    5
16    6
17    7
dtype: int64

In [19]:
series_obj[['11','17']]

11    1
17    7
dtype: int64

In [20]:
series_obj[[1,7]]

11    1
17    7
dtype: int64

In [53]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index = ['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
                   columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])
DF_obj

          col1      col2      col3      col4      col5      col6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [66]:
DF_obj.iloc[1:4,0:2]

          col1      col2
row2  0.684969  0.437611
row3  0.447031  0.585445
row4  0.366395  0.836375

In [68]:
# DF_obj.loc[['row2','row5'],['col2','col5']]
DF_obj.loc['row3'] #.iloc[[0:2],[0:2]]

col1    0.447031
col2    0.585445
col3    0.161985
col4    0.520719
col5    0.326051
col6    0.699186
Name: row3, dtype: float64

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [55]:
DF_obj > 0.1

      col1  col2   col3  col4  col5  col6
row1  True  True   True  True  True  True
row2  True  True   True  True  True  True
row3  True  True   True  True  True  True
row4  True  True   True  True  True  True
row5  True  True  False  True  True  True
row6  True  True   True  True  True  True

In [56]:
DF_obj[DF_obj > 0.1]

          col1      col2      col3      col4      col5      col6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053       NaN  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

### Filtering with scalars

### Setting values with scalars

In [57]:
DF_obj[DF_obj <0.1] = 100
DF_obj

          col1      col2        col3      col4      col5      col6
row1  0.870124  0.582277    0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611    0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445    0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375    0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  100.000000  0.719930  0.421004  0.436935
row6  0.281701  0.900274    0.669612  0.456069  0.289804  0.525819

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.