# Chapter 2 - Data Preparation Basics
## Segment 5 - Grouping and data aggregation

In [1]:
import numpy as np
import pandas as pd
# from pandas import Series, DataFrame

### Grouping data by column index

In [7]:
fruit_df = pd.DataFrame({
    'Index' : [1,2,3,4,5],
    'Fruit' : ['Apple','Apple','Orange','Apple','Orange']
})
fruit_df.set_index(['Index'], inplace = True)
fruit_df

        Fruit
Index
1       Apple
2       Apple
3      Orange
4       Apple
5      Orange

In [12]:
address = '/Users/prb000j/OneDrive - Walmart Inc/Python Learn Projects/Ex_Files_Python_Data_Science_EssT_Pt_1/Exercise Files/Data/mtcars.csv'

cars_df = pd.read_csv(address, index_col = 0) # first column considered as index
print(cars_df.shape)
cars_df.head()

(32, 11)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [18]:
cars_df.groupby(['cyl'])[['wt','qsec']].mean()

           wt       qsec
cyl
4    2.285727  19.137273
6    3.117143  17.977143
8    3.999214  16.772143