# Chapter 2 - Data Preparation Basics
## Segment 3 - Removing duplicates

In [3]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [8]:
DF_obj = DataFrame({
    'column 1': [1,1,2,2,3,3,3],
    'column 2': ['a','a','b','b','c','c','c'],
    'column 3': ['A','A','B','B','C','C','C']},
    index=['row 0','row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'])
DF_obj
# DataFrame()

       column 1 column 2 column 3
row 0         1        a        A
row 1         1        a        A
row 2         2        b        B
row 3         2        b        B
row 4         3        c        C
row 5         3        c        C
row 6         3        c        C

In [9]:
DF_obj.duplicated() # gives index of rows that are duplicates of prev rows

row 0    False
row 1     True
row 2    False
row 3     True
row 4    False
row 5     True
row 6     True
dtype: bool

In [10]:
DF_obj.drop_duplicates()

       column 1 column 2 column 3
row 0         1        a        A
row 2         2        b        B
row 4         3        c        C